.main {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    top: none;
    left: none;
    transform: none;
    padding: none;
}

.svgImg {
    position: relative;
    visibility: visible;
    width: 100%;
    height: auto;
}

.Dimg {
    position: absolute;
    visibility: hidden;
}

.stayUpdated h1 {
    font-weight: 700;
}

.stayUpdated p,
.point p {
    font-weight: 400;
    font-size: 16px;
}


.stayUpdated {
    padding: 20px;
}

.features {
    display: flex;
    flex-direction: row;
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.points {
    display: flex;
    flex-direction: column;
}

.inputEmail {
    width: 100px;
    border-color: hsl(231, 7%, 60%) !important;
    box-shadow: none !important;
}

.inputEmailII {
    width: 100px;
    border-color: black !important;
    box-shadow: none !important;
}

.inputEmailIII[type='email'] {
    width: 100%;
    border-color: red !important;
    background-color: #F8C4B4 !important;
    box-shadow: none !important;
    color: hsl(4, 100%, 67%);
}

.errorMsg {
    display: block;
    float: right;
    color: red;
    font-size: 10px;
    margin: 2px 2px 0 0;
    visibility: hidden;
}

.subscribe {
    padding: 0px 25px;
}

.butt {
    text-align: center;
}

.butt button {
    background-color: hsl(234, 29%, 20%);
    width: 100%;
    font-size: 15px;
    color: white;
    padding: 7px 50px;
    border-radius: 7px;
}

@media screen and (min-width: 500px) {

    body {
        background-color: hsl(234, 29%, 20%) !important;
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .main {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
        font-family: 'Roboto', sans-serif;
    }

    .svgImg {
        position: fixed;
        visibility: hidden;
    }

    .Dimg {
        position: relative;
        visibility: visible;
    }

    .main {
        width: 55%;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1%;
        display: flex;
        flex-direction: row-reverse;
    }

    .mainheader {
        position: relative;
        display: inline;
        float: right;
    }

    .stayUpdated h1 {
        color: hsl(234, 29%, 20%);
        font-size: 3rem;
        padding: 10px 0;
    }

    .desktop-view {
        margin-top: 8%;
        margin-right: 3%;
        position: relative;
        display: inline;
        float: left;
    }

    .subscribe {
        padding: 0px 25px;
    }

    .inputEmail {
        width: 100%;
        height: 3rem;
        border-color: hsl(231, 7%, 60%) !important;
        box-shadow: none !important;
    }

    .inputEmailII {
        height: 3rem;
    }

    .inputEmailIII[type='email'] {
        height: 3rem;
    }

    .errorMsg {
        font-size: 12px;
    }

    .butt button {
        height: 3rem !important;
        text-align: center;
    }
}

@media screen and (min-width: 1550px) {
    .main {
        width: 50%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1665px) {
    .butt button {
        font-size: small;
    }
}
